* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(245, 245, 220, 0.781);
  }
  
  h1 {
    font-family: 'Vast Shadow', cursive;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }
  
  input {
    margin: 10px;
  }